body {
	background: #000;
	color: white;
}

.bombermanPj {
	background: url("./images/Bomberman-pink.png") no-repeat center center;
	top: 0;
    left: 0;
    z-index: 1;
}

.bomb {
	background: #000 url("./images/bomb_pink.png") no-repeat center center;
}

.flame {
	background: #000 url("./images/flame.png") no-repeat center center;
}

.image {
	position: absolute;
	width: 50px;
	height: 50px;
	-o-background-size: 100% 100%, auto;
	-moz-background-size: 100% 100%, auto;
	-webkit-background-size: 100% 100%, auto;
	background-size: 100% 100%, auto;
}