<!DOCTYPE html>
<html ng-app="bomberman">
<head>
	<title>Bomberman</title>
	<meta name="author" content="Sergio Ortega"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script type='text/javascript' src='js/jquery-1.11.1.js'></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script	type="text/javascript" src="js/bomberman-app.js"></script>
	<script type="text/javascript" src="js/bomberman-map.js"></script>
	<script type="text/javascript" src="js/bomberman-directive.js"></script>
	<script type="text/javascript" src="js/modal_dialog.js"></script>
</head>
<body ng-controller="bombermanController as control" ng-keydown="">
	<table bombermap></table>
	<div class="image bombermanPj" style="top: {{bomber_top}}px; left: {{bomber_left}}px;"></div>
	<modal-dialog show='modalShown' width='750px' height='65%'>
		<button class="ng-modal-button reload-button" ng-click="reloadPage();">Restart</button>
		<button class="ng-modal-button end-button" ng-click="endGame();">End Game</button>
	</modal-dialog>
</body>
</html>