<!DOCTYPE html>
<html ng-app="bomberman">
<head>
	<title>Bomberman</title>
	<meta name="author" content="Sergio Ortega"/>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
	<script type='text/javascript' src='assets/libs/jquery-1.11.1.js'></script>
	<script type="text/javascript" src="assets/libs/angular.min.js"></script>
	<script	type="text/javascript" src="app/bomberman-app.js"></script>
	<script type="text/javascript" src="app/Map/bomberman-map.js"></script>	
	<script type="text/javascript" src="app/Map/bricks-service.js"></script>
	<script type="text/javascript" src="app/Map/boxes-service.js"></script>	
	<script type="text/javascript" src="app/Powers/powerUp-service.js"></script>
	<script type="text/javascript" src="app/Enemy/enemy-service.js"></script>
	<script type="text/javascript" src="app/Bomb/bomb-service.js"></script>
	<script type="text/javascript" src="app/bomberman-directive.js"></script>
	<script type="text/javascript" src="assets/libs/modal_dialog.js"></script>
</head>
<body ng-controller="bombermanController as control" ng-keydown="">
	<div class="scoreBoard">
		<img src="./assets/img/Bomberman_Logo.png"/><br>
		- Level: {{map_type}}<br>
		- Lives: <div class="liveHeart" ng-repeat="i in getLives() track by $index"></div></br>
		- Fire length: <div class="fireLength" ng-repeat="j in getFireLength() track by $index"></div></br>
		- Bomb limit: <div class="bombLimit" ng-repeat="z in getBombLimit() track by $index"></div></br>
		- Enemies left: {{enemiesLeft}}<br>
		- Soft bricks left: {{boxesLeft}}<br>
	</div>
	<table bombermap></table>
	<div class="image bombermanPj" style="top: {{bomber_top}}px; left: {{bomber_left}}px;"></div>
	<modal-dialog show='modalShown' width='750px' height='65%'>
		<button class="ng-modal-button next-button" ng-show="(map_type < map_type_limit) && !gameOver" ng-click="nextLevel()">Next Level</button>
		<button class="ng-modal-button reload-button" ng-click="restartLevel();">Restart Level</button>
		<button class="ng-modal-button end-button" ng-click="endGame();">End Game</button>
	</modal-dialog>
</body>
</html>