body {
	background: #000;
	color: white;
}

.scoreBoard {
	margin-top: 590px;
	font-family: monospace;
  	font-size: large;
  	font-weight: bold;
  	line-height: 25px;
}
.scoreBoard img {
	margin-bottom: 20px;
}

.liveHeart {	
	height: 16px;
	width: 16px;
	background: url("../img/heartIcon.png") no-repeat center center;
	background-size: cover;
	display: inline-block;
	margin-right: 5px;
}

.bombLimit {	
	height: 16px;
	width: 16px;
	background: url("../img/bomb_pink.png") no-repeat center center;
	background-size: cover;
	display: inline-block;
	margin-right: 5px;
}

.fireLength {	
	height: 16px;
	width: 16px;
	background: url("../img/flame.png") no-repeat center center;
	background-size: cover;
	display: inline-block;
	margin-right: 5px;
}

.bombermanPj {
	background: url("../img/Bomberman-pink.png") no-repeat center center;
  	z-index: 1;
}
.explode {
	background: url("../img/explosion.gif") no-repeat center center;
}

.flicker
{
  animation: fade 1s forwards;
  -webkit-animation: fade 1s forwards;
  -moz-animation: fade 1s forwards;
  -o-animation: fade 1s forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;  
  -o-animation-iteration-count: infinite;
}

@-o-keyframes fade
{
    0%   {opacity:0;}
    50%   {opacity:1;}
    100% {opacity:0;}
}

@keyframes fade 
{
    0%   {opacity:0;}
    50%   {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fade
{
    0%   {opacity:0;}
    50%   {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fade 
{
    0%   {opacity:0;}
    50%   {opacity:1;}
    100% {opacity:0;}
}

.wall_1 {
	background: #000 url("../img/map/hard_block.png") no-repeat center center;
}
.wall_2 {
	background: #000 url("../img/map/hard_block_2.png") no-repeat center center;
}

.box {
	z-index: 1;
}
.box_1 {
	background: #000 url("../img/map/soft_block.png") no-repeat center center;
}
.box_2 {
	background: #000 url("../img/map/soft_block_2.png") no-repeat center center;
}

.enemy {
	transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all .5s ease-in-out; /** Firefox **/
    -o-transition: all .5s ease-in-out; /** Opera **/
}
.enemy_1 {
	background: url("../img/enemy/blue_monster.png") no-repeat center center;
}
.enemy_2 {
	background: url("../img/enemy/green_monster.png") no-repeat center center;
}

.fireup {
	background: url("../img/power/flame_plus.png") no-repeat center center;
}
.bombup {
	background: url("../img/power/bomb_plus.png") no-repeat center center;
}

.bomb {
	background: #000 url("../img/bomb_pink.png") no-repeat center center;
}
.flame {
	background: #000 url("../img/flame.png") no-repeat center center;
}

.image {
	position: absolute;
	width: 50px;
	height: 50px;
	-o-background-size: 100% 100%, auto;
	-moz-background-size: 100% 100%, auto;
	-webkit-background-size: 100% 100%, auto;
	background-size: 100% 100%, auto;
}

.ng-modal-overlay {
	/* A dark translucent div that covers the whole screen */
	position:absolute;
	z-index:9999;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000000;
	opacity: 0.8;
}
.ng-modal-dialog {
	/* A centered div above the overlay with a box shadow. */
	z-index:10000;
	position: absolute;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}
.ng-modal-dialog-content {
  	background: url("../img/game-over.png") no-repeat center center;
  	background-size: contain;
  	width: 100%;
  	height: 95%;
}
.winner {
	background: url("../img/victory.png") no-repeat center center;
}
.ng-modal-button {
	position: absolute;
	right: 50%;
	bottom: 0;
	width: 130px;
	padding: 10px 20px;
	border-radius: 10px;
	border-width: 3px;
	color: white;
	font-weight: bold;
}
.next-button {
	bottom: 10%;
  	right: 41%;
	background: #0892d0;
	border-color: #056691;
}
.next-button:hover {
	background: #2eb9f7;
	border-color: #09a3e9;
}
.reload-button {
	background: #00CC33;
	border-color: #009933;
}
.reload-button:hover {
	background: #66CC33;
	border-color: #33FF33;
}
.end-button {
	background: #CC3333;
	border-color: #993333;
	left: 52%;
}
.end-button:hover {
	background: #FF3333;
	border-color: #FF0033;
}